/* You can add global styles to this file, and also import other style files */
* {
	font-family: 'Comfortaa', cursive;
}

a {
  color: rgb(0,0,0)!important; 
}
a:hover, a:focus, a:active {
    color: #6E74AA!important; 
}

h1 {
  font-size: 10rem;
  line-height: 5.5rem; 
}

h2 {
  font-size: 3.5rem; 
}

.primary-text {
  color: #6E74AA;
}

.secondary-text {
    color: #9fa8da;
}

.subheading {
  text-transform: uppercase;
  font-weight: bold;
  color: #B4B4B4;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; 
}
 section.resume-section .resume-item .resume-date {
  min-width: none; 
}

@media (min-width: 768px) {
	section.resume-section {
    	min-height: 100vh; 
	}
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; 
  	} 
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; 
    margin-left: 272px;
	} 
}